@media (max-width: 1600px) {
  .btn__table {
    width: 300px;
    font-size: 18px;
  }
}
@media (max-width: 1366px) {
  .popup {
    width: calc(100% - 40px);
  }
  .popup__title {
    h2 {
      font-size: 26px;
      padding: 25px 38px;
    }
  }
  .row-inputs > label:nth-child(1) > input {
    width: calc(55.5% - 30px);
  }
  h1 {
    font-size: 18px;
  }
  .btn-add-alt {
    margin-left: 38px;
  }
  .input__wrapper,
  .warning-text {
    padding: 50px 38px;
  }
  .popup-edit-content-wrapper > .input__wrapper {
    padding: 0px 38px;
  }

  .popup-edit-wrapper > .popup-close__wrapper {
    position: relative;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: #414f51;
  }
  .popup-close__wrapper {
    height: 80px;
    background-color: #414f51;
  }
  .btn-close-popup,
  .popup-edit-wrapper > .popup-close__wrapper > .btn-close-popup {
    right: 38px;
  }

  .second-panel__tab:first-child {
    word-break: inherit;
  }
  table {
    font-size: 16px;
  }
  .third-panel__tab,
  .main__label,
  .main__select,
  .btn__table {
    font-size: 18px !important;
  }
  .btn__menu {
    font-size: 16px;
  }
  .td-wrapper-icon > .table-icon:hover::after {
    left: -200% !important;
  }
  .td-wrapper-icon:nth-child(even) > .table-icon:hover::after {
    left: -110% !important;
  }
}
@media (max-width: 1280px) {
  .btn__menu {
    width: 33.333%;
  }
  .container {
    padding: 0px calc(var(--index) * 1);
  }
  .row-inputs > label:nth-child(2) {
    margin-left: 20px;
  }
  .row-inputs > label:nth-child(1) > input {
    width: calc(55.5% - 28px);
  }
  .section__table__content.bottom {
    display: block;
  }
  .btn__table {
    width: calc(50% - 20px);
  }
  .table__btn__wrapper {
    margin-top: 22px;
  }
  .third-panel__tab {
    width: 120px;
  }
  td {
    font-size: 16px;
  }
  td:nth-child(1) {
    width: 48px;
  }
  td:nth-child(2),
  td:nth-child(3) {
    width: 45px;
  }
  td:nth-child(4) {
    width: 22%;
  }
  td {
    padding: 11px 5px !important;
  }
  td:nth-child(5) {
    width: 25%;
    word-break: break-word;
  }
  td:nth-child(6),
  td:nth-child(7),
  td:nth-child(8),
  td:nth-child(9) {
    width: 60%;
  }
  .third-panel__tab[data-value='объявления'],
  .third-panel__tab[data-value='соискатели'],
  .third-panel__tab[data-value='вакансии объединённые'],
  .third-panel__tab[data-value='Телефонные коды'],
  .third-panel__tab[data-value='РУБРИКАТОР'],
  .third-panel__tab[data-value='СОКРАЩЕННЫЕ ЮРИДИЧЕСКИЕ⠀ФОРМЫ'],
  .third-panel__tab[data-value='Альтернативные учебные⠀заведения'],
  .third-panel__tab[data-value='Филиалы учебных⠀заведений'],
  .third-panel__tab[data-value='Квалификации Специальности'],
  .third-panel__tab[data-value='Администраторы'] {
    position: relative;
    text-overflow: ellipsis;
  }
  .third-panel__tab[data-value='объявления']:hover::after,
  .third-panel__tab[data-value='соискатели']:hover::after,
  .third-panel__tab[data-value='вакансии объединённые']:hover::after,
  .third-panel__tab[data-value='Телефонные коды']:hover::after,
  .third-panel__tab[data-value='РУБРИКАТОР']:hover::after,
  .third-panel__tab[data-value='СОКРАЩЕННЫЕ ЮРИДИЧЕСКИЕ⠀ФОРМЫ']:hover::after,
  .third-panel__tab[data-value='Альтернативные учебные⠀заведения']:hover::after,
  .third-panel__tab[data-value='Филиалы учебных⠀заведений']:hover::after,
  .third-panel__tab[data-value='Квалификации Специальности']:hover::after,
  .third-panel__tab[data-value='Администраторы']:hover::after {
    content: attr(data-value);
    text-transform: uppercase;
    color: gray;
    display: block;
    position: absolute;
    background-color: var(--light-gray);
    padding: 8px;
    box-sizing: border-box;
    font-weight: 500 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    max-width: 250px;
    top: 100%;
    z-index: 1000;
  }
  .third-panel__tab[data-value='объявления']:hover::before,
  .third-panel__tab[data-value='соискатели']:hover::before,
  .third-panel__tab[data-value='вакансии объединённые']:hover::before,
  .third-panel__tab[data-value='Телефонные коды']:hover::before,
  .third-panel__tab[data-value='РУБРИКАТОР']:hover::before,
  .third-panel__tab[data-value='СОКРАЩЕННЫЕ ЮРИДИЧЕСКИЕ⠀ФОРМЫ']:hover::before,
  .third-panel__tab[data-value='Альтернативные учебные⠀заведения']:hover::before,
  .third-panel__tab[data-value='Филиалы учебных⠀заведений']:hover::before,
  .third-panel__tab[data-value='Квалификации Специальности']:hover::before,
  .third-panel__tab[data-value='Администраторы']:hover::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    top: 92%;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid var(--light-gray);
    z-index: 1000;
  }
}
@media (width <= 1100px) {
  .first-panel > div.control {
    padding-right: 20px;
  }
  .icon.burger {
    font-size: 26px;
  }
  .second-panel .tab {
    width: 95px;
  }
  .third-panel__tab[data-value='Учебные заведения'],
  .third-panel__tab[data-value='Компании'] {
    position: relative;
    text-overflow: ellipsis;
  }
  .third-panel__tab[data-value='Учебные заведения']:hover::after,
  .third-panel__tab[data-value='Компании']:hover::after {
    content: attr(data-value);
    text-transform: uppercase;
    color: gray;
    display: block;
    position: absolute;
    background-color: var(--light-gray);
    padding: 8px;
    box-sizing: border-box;
    font-weight: 500 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    max-width: 250px;
    top: 100%;
    z-index: 1000;
  }
  .third-panel__tab[data-value='Учебные заведения']:hover::before,
  .third-panel__tab[data-value='Компании']:hover::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    top: 92%;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid var(--light-gray);
    z-index: 1000;
  }
  .will-removed {
    display: none;
  }
  .third-panel__tab {
    flex: 1;
    text-align: center;
    width: 95px;
  }
  .control-panel__segment-icon {
    font-size: 25px;
    font-family: Inter-Bold;
  }
  .second-panel__tab > p {
    word-break: break-word;
  }
  .second-panel__tab:first-child > p {
    word-break: inherit;
  }
}
@media (max-width: 1024px) {
  .prompt-edit-text {
    font-size: 17.5px;
  }
  td:nth-child(1) {
    width: 35px;
  }
  .row-inputs > label:nth-child(1) > input {
    width: calc(55.5% - 22px);
  }
}
@media (width > 880px) {
  .td-num {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media (width <= 880px) {
  tbody {
    display: flex;
    flex-direction: column;
  }
  .row-inputs > label:nth-child(2) {
    margin-left: 50px;
    width: 95px;
    align-items: flex-end;
  }
  .row-inputs > label > input {
    margin-left: 0px;
  }
  .row-inputs > label:nth-child(1) > input {
    width: 100%;
  }
  .td-info-wrapper {
    width: 100%;
    max-width: 50%;
  }
  .btn-add-alt {
    margin-left: 30px;
  }
  .fullname-abbr {
    width: calc(100% - 32px);
    width: auto !important;
  }
  .table__abbr {
    padding-bottom: 0px;
  }
  .search-value {
    padding: 10px 2%;
  }
  .title-page__wrapper {
    display: block;
  }
  .prompt-edit-text {
    font-size: 20px;
  }
  .prompt-edit {
    left: 0;
  }
  .popup-edit-wrapper > .popup-buttons {
    position: relative;
  }
  .edit-prompt {
    font-size: 18px;
  }
  .edit-label {
    flex-direction: column;
    align-items: flex-start;
  }
  .edit-label > input {
    width: 100%;
    margin-top: 9px;
  }
  .btn__main,
  .btn-add-alt,
  .edit-label > input {
    height: 45px;
  }
  .btn-add-alt {
    width: calc(100% - 60px);
  }
  .navbar-top-panel {
    a {
      display: block !important;
    }
  }
  .empty {
    display: none;
  }
  tr {
    height: auto !important;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    border: 1px solid #cbcbcb;
  }

  .tr_empty,
  .td-wrapper-icon,
  .table__value__id {
    display: none;
  }

  .table__year,
  .table__year-name {
    position: relative;
  }
  tr:hover {
    background-color: #fff;
  }
  td:hover {
    background-color: #ebf6f9;
  }
  .thead-container {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icons-wrapper-thead > :nth-child(1) {
    margin-right: 17px;
  }
  td {
    width: inherit !important;
    display: inline-flex;
    align-items: baseline;
    outline: none;
    text-align: left !important;
    padding: 0 !important;
  }
  .table_mobile-thead {
    background: #ebf6f9;
    display: block;
    border-bottom: 1px solid rgb(20, 20, 20, 0.2);
  }
  .fullname {
    width: 50%;
  }
  .td-name {
    display: block;
    width: 200px;
    white-space: pre;
    color: #9c9c9c;
    font-size: 18px;
    font-weight: 500;
    line-height: 137.02%;
    padding: 8px 16px;
  }
  .prompt-search {
    width: 100%;
    max-width: inherit;
  }
  .container {
    padding: 0px calc(var(--index) * 1);
  }
  .second-panel .tab {
    width: 100%;
  }
  .icon.arrow.reversed {
    color: #c3c3c3;
    font-size: 18px;
  }
  .td-wrapper-icon:nth-child(odd) > .table-icon::after {
    left: -40px;
  }
  .td-wrapper-icon:nth-child(even) > .table-icon::after {
    left: -70px;
  }
  .btn-select-reset .icon {
    font-size: 25px !important;
  }
  input[type='text'],
  .btn__menu,
  .btn__table {
    height: 45px !important;
  }
  .popup {
    width: 100%;
  }
  .popup__title {
    h2 {
      font-size: 23px;
      padding: 15px 30px;
    }
  }
  .popup-edit-content-wrapper > .input__wrapper {
    padding: 0px 30px;
  }
  .warning-text,
  .input__wrapper {
    padding: 25px 30px;
  }
  .input__wrapper {
    flex-direction: column;
    align-items: start;
  }
  .input__wrapper > label,
  .row-inputs > label {
    margin-bottom: 30px;
  }
  .pseudo-input {
    width: 100%;
  }
  .popup-close__wrapper {
    height: 47px !important;
  }
  .btn-close-popup {
    right: 32px;
    font-size: 25px;
    top: 10px;
  }
  .popup-buttons > * {
    width: 266px;
  }
  .btn-cancel {
    margin-left: 24px;
  }
  .search-wrapper {
    display: block;
  }
  .main__label {
    margin: 14px 0px 6px 0px;
  }
  .panels__panel {
    grid-template-columns: none !important;
  }
  .section-select {
    grid-template-columns: auto;
    margin-bottom: 0;
  }
  .section__table__content.bottom {
    display: none;
  }
  .btn__table {
    width: calc(50% - 20px);
  }
  .section__table__content {
    margin-top: 22px;
  }
  .navbar-top-panel,
  .second-panel {
    padding: 0px 0px;
  }

  .navbar-top-panel {
    padding-right: 25px;
  }
  .table__row-item[tooltip]:hover::after {
    content: none;
    display: none;
    border-bottom: none;
  }
  div.table.vacancies {
    padding-left: 10px;
    padding-right: 10px;
  }
  .medium-screen-size__table-name {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  div.control {
    display: flex;
    padding-left: 18px;
    padding-right: 50px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    justify-content: end;
  }
  .mobile-control__menu-button {
    display: flex;
    width: 100%;
    background-color: var(--blue);
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;
    box-sizing: border-box;
    font-size: 18px;
  }
  .mobile-control__menu-button > * {
    color: inherit;
    font-size: inherit;
  }
  .mobile-control__menu-button > span {
    font-size: 24px;
    cursor: pointer;
  }

  p.date {
    text-align: start;
  }

  div.mobile-tab {
    margin-top: 10px;
    background-color: white;
  }

  .mobile-control.control > * {
    font-size: 22px;
    color: #414f51;
  }
  div.title-wrapper {
    display: none;
  }
  .mobile-wrapper__input {
    display: flex;
    margin-top: 20px;
  }
  p.date {
    background-color: rgb(245, 245, 245);
    padding: 10px 15px 10px 15px;
  }
  .table-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .caption {
    color: gray;
  }
  .mobile-wrapper-table {
    display: none;
  }
  .mobile-wrapper__row {
    display: inherit;
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .mobile-wrapper__row-extra-content {
    padding-left: 5px;
  }
  .mobile-wrapper__row:not(.mobile-wrapper__row-vacancy-name) {
    border-bottom: 1px solid lightgray;
  }
  .mobile-wrapper__row-extra-content {
    display: inherit;
  }
  .table.vacancies {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
  }
  .table__row-item {
    overflow: hidden;
    font-size: 18px;
    height: 100%;
    border: none;
  }
  .table__row-item:not(.non-border) {
    border-left: 1px solid lightgray;
  }

  .mobile-wrapper__row-edit {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-left: 0px;
  }
  .row-wrapper:hover > div > div.selectable {
    background-color: initial;
  }
  .row-wrapper:hover > div > div > span.control-edit {
    color: var(--light-blue);
  }
  .icon.control-edit.delete:hover {
    color: rgb(66, 66, 216);
  }
  .mobile-wrapper__row-edit > div {
    flex: 1;
  }
  .mobile-wrapper__row-vacancy-name {
    grid-area: vacancy-name;
    background-color: #67d6ef;
    min-height: 50px;
    margin: 0;
  }
  .table__row-item-vacancy-name {
    grid-column-start: span 2;
    box-sizing: border-box;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p.table__row-item-vacancy-name-text {
    color: white;
  }
  p.source {
    box-sizing: border-box;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile-wrapper__row-id {
    grid-area: id;
  }
  .mobile-wrapper__row {
    display: grid;
    grid-template-columns: 115px 1fr;
  }
  .mobile-wrapper__row-number {
    grid-area: number;
    grid-template-columns: 115px 1fr;
    margin-right: 0;
  }
  .mobile-wrapper__row-edit {
    grid-area: edit;
  }
  .mobile-wrapper__row-source {
    grid-area: source;
  }
  .mobile-wrapper__row-date {
    grid-area: date;
  }
  .mobile-wrapper__row-frequency {
    grid-area: frq;
  }
  .row-wrapper {
    grid-auto-rows: minmax(50px, auto);
    display: grid;
    grid-template-areas:
      'vacancy-name vacancy-name vacancy-name vacancy-name'
      'number number number edit'
      'id id id id'
      'source source source source'
      'date date date date'
      'frq frq frq frq';
    /* "edit edit"; */
  }

  .row {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    height: auto;
  }
  #second_specifier {
    display: none;
  }
  *[tooltip]:hover::after {
    width: fit-content;
  }
  .mobile-wrapper__row-extra-content {
    font-size: 18px;
  }
  .section__table__content.top {
    display: block;
    margin-bottom: 13px;
  }
}
@media (max-width: 800px) {
  .popup-edit-wrapper > .popup-buttons {
    position: relative;
  }
  .btn__menu {
    width: 50%;
  }
}

@media (width <= 640px) {
  .container {
    padding: 0px calc(var(--index) * 0.75);
  }

  .title-page__wrapper {
    display: none;
  }
  .btn-close-popup,
  .popup-edit-wrapper > .popup-close__wrapper > .btn-close-popup {
    right: 30px;
  }
  .prompt-edit {
    top: 80%;
  }
  .prompt-edit-text {
    font-size: 18px;
  }
  .edit-inp[data-invalid='true'] {
    margin-bottom: 30px;
  }
  .prompt-edit > .icon {
    margin-right: 2.5px;
  }
  .btn__menu_value {
    margin-left: 3.5px;
  }
  .navbar-top-panel {
    height: 45px !important;
    font-size: 16px;
    justify-content: center !important;
  }
  #navbar {
    display: none !important;
  }
  .btn__table:nth-child(1) {
    margin-right: 16px;
  }
  .btn__table {
    font-size: 16px !important;
    width: calc(100% - 8px);
  }
  .warning-text {
    font-size: 18px;
  }
  .warning-text .icon {
    margin-right: 18px;
  }
  .main {
    margin: 20px 0px 40px 0px;
  }

  .popup-buttons > * {
    width: calc(100% - 60px);
  }
  .btn-cancel {
    margin-left: 0px;
    margin-top: 13px;
  }
  .mobile-tab {
    display: none;
  }
  .panels {
    display: flex;
  }
  .first-panel {
    display: flex;
  }
  div.control,
  div.first-panel {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .icon {
    justify-self: center;
  }

  .table__row-item-vacancy-name {
    width: 100%;
  }
  .table__row-item {
    box-sizing: border-box;
  }
  input {
    height: 50px;
    box-sizing: border-box;
  }
  .table__row-item {
    font-size: 18px;
  }

  .table__btn__wrapper {
    display: flex;
  }
  .section__table__content.bottom {
    display: none;
  }
}

@media (width <= 480px) {
  .mobile-wrapper__row {
    display: grid;
    grid-template-columns: 115px 1fr;
  }
  .row-inputs > label:nth-child(2) {
    margin-left: 25px;
  }
  .td-info-wrapper {
    padding-left: 4.7%;
    max-width: inherit;
  }
  .filter-value > label {
    font-size: 14px;
  }
  .prompt-edit-text {
    font-size: 14px;
  }
  .prompt-edit > .icon {
    font-size: 18px !important;
  }
  .btn-add-alt {
    margin-left: 15px;
    width: calc(100% - 30px);
  }
  .btn-close-popup,
  .popup-edit-wrapper > .popup-close__wrapper > .btn-close-popup {
    right: 15px;
  }
  .popup-edit-content-wrapper > .input__wrapper {
    padding: 0px 15px;
  }
  .navbar-top-panel {
    height: 38px !important;
  }
  .back-to-mobile-menu {
    font-size: 16px;
  }
  h3 {
    font-size: 16px !important;
  }
  td {
    font-size: 14px;
  }
  .thead-mobile-name {
    margin-right: 10px;
  }
  .fullname {
    word-break: break-word;
  }
  .td-name {
    width: 120px;
    font-size: 14px;
  }
  .popup__title {
    h2 {
      text-align: center;
      font-size: 16px;
    }
  }
  .btn__main {
    font-size: 14px;
    height: 38px;
  }
  .warning-text .icon {
    margin-right: 16px;
  }
  .warning-text {
    font-size: 16px;
    text-align: center;
  }
  .warning-text,
  .input__wrapper {
    padding: 24px 27px;
  }
  .pseudo-input {
    height: 38px;
  }
  .input__wrapper > label,
  .row-inputs > label {
    font-size: 13px;
  }
  .mobile-wrapper__row-number {
    grid-area: number;
    grid-template-columns: 115px 1fr;
  }
  .table__row-item > p {
    font-size: 18px;
  }

  .mobile-wrapper__row-extra-content {
    font-size: 18px;
  }
  h1 {
    font-size: 16px;
  }
  .section__table__content.top {
    text-align: center;
    margin-top: 26px;
  }
  input[type='text'],
  .btn__menu,
  .btn__table,
  .main__select,
  .edit-label > input,
  .btn-add-alt {
    height: 38px !important;
    font-size: 14px !important;
  }
  .main__label {
    font-size: 14px !important;
  }
  .btn__menu {
    width: 100%;
    margin-bottom: 8px;
  }
  .btn__menu:last-child {
    margin-bottom: 0px;
  }

  .search-wrapper > input,
  .main__select {
    padding: 0px 75px 0 12px;
  }
  .tr-edit {
    display: table-row;
  }
  .tr-edit > td:first-child {
    text-align: right;
  }
  .table__btn__wrapper {
    flex-wrap: wrap;
  }
  .btn__table {
    width: 100%;
  }
  .btn__table:nth-child(1) {
    margin-right: 0;
    margin-bottom: 11px;
  }
  .td-wrapper-icon:nth-child(even) > .table-icon::after {
    left: -35px;
  }
  .td-wrapper-icon:nth-child(even) > .table-icon::before {
    left: 5%;
  }
  .td-wrapper-icon:nth-child(odd) > .table-icon::after {
    left: 50px;
  }
  .td-wrapper-icon:nth-child(odd) > .table-icon::before {
    left: 85%;
  }
}
@media (max-width: 420px) {
  .thead-icon {
    display: none;
  }
  .table_mobile-tfoot {
    display: flex;
    justify-content: center;
    order: 1;
  }
  .table_mobile-tfoot > * {
    padding: 15px;
  }
  .table_mobile-tfoot > * {
    display: block;
  }
  .td-info-wrapper {
    padding-left: calc(var(--index) * 2);
  }
}
@media (max-width: 320px) {
  .warning-text {
    font-size: 13px;
  }
  .warning-text .icon {
    margin-right: 12px;
  }
  .mobile-control-wrapper__grid-control-wrapper > p {
    font-size: 10px !important;
  }
}
